@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using KataShoppingCart.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shopping Cart Demo - Basket</title>
</head>
<body>
    <h3>Checkout</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in (List<Item>)Session["cart"])
            {
                <tr>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>£@item.Product.Price</td>
                    <td>£@(item.Product.Price * item.Quantity)</td>
                    <td><a class="btn btn-danger" href="@Url.Action("Remove", "Cart", new { id = item.Product.Id })">X</a></td>
                </tr>
            }
        </tbody>
        <br />

        @{
            List<Item> cart = (List<Item>)Session["cart"];

            var total = cart.Sum(item => item.Product.Price * item.Quantity);
        }

    </table>
    <h4>Total Cost: £@total</h4>
    <a href="@Url.Action("Index", "Product")">🢀 Continue Shopping</a>
</body>
</html>